.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
}

.info h1 {
    text-align: center;
    font-weight: bold;
    padding: 30px;
    border-bottom: 3px solid #766868;
    width: 80%;
    text-transform: uppercase;
}

.info-list {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    padding: 30px 80px 50px;
  }