.scanner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;

}

.scanner-overlay {
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  aspect-ratio: 4/3;
  border: 2px solid white;
  overflow: hidden;
  position: relative;
  margin: 30px;
}

.webcam {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.scanner-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
}

.scan-text {
  font-size: 24px;
}

.scanner-container .Add{
  margin-top: 50px;
}

.scanner-container .Container{
  background-color: #4a5568;
}
