.grafik{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 220px;
}

.stokMasuk {
    width: 600px;
    aspect-ratio: 1.7;
    text-align: center;
    background-color: #f8f8f8;
    outline: solid 2px #aaaaaa;
    margin-bottom: 50px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
}

.stokMasuk h2{
    margin-top: 10px;
}

.stokKeluar {
    width: 600px;    
    aspect-ratio: 1.5;
    text-align: center;
    background-color: white;
    outline: solid 2px #aaaaaa;
    margin-bottom: 50px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
  }


