.Laporan{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 110px;
}

.GrafikButton, .KeuanganButton{
    width: 200px;
    background-color: #d9d9d9;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #00000056;
}

.grafik-button, .keuangan-button {
    border: none;
    padding: 5px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.GrafikButton .grafik-button {
    border-right: 1px solid #00000056;
    width: 50%;
    background-color: #aaaaaa;
}

.GrafikButton .keuangan-button {
    width: 50%;
    background-color: #d9d9d9;
}


.KeuanganButton .grafik-button {
    width: 50%;
    background-color: #d9d9d9;
}

.KeuanganButton .keuangan-button {
    border-left: 1px solid #00000056;
    width: 50%;
    background-color: #aaaaaa;
}

.stokMasuk {
    width: 600px;
    aspect-ratio: 1.7;
    text-align: center;
    background-color: #f8f8f8;
    outline: solid 2px #aaaaaa;
    margin-bottom: 50px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
}

.stokMasuk h2{
    margin-top: 10px;
}

.stokKeluar {
    width: 600px;    
    aspect-ratio: 1.5;
    text-align: center;
    background-color: white;
    outline: solid 2px #aaaaaa;
    margin-bottom: 50px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
  }

  .Keuangan{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
  }

  .LaporanHeader, .LaporanItem, .LaporanFooter {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    align-items: center;
    border: 1px solid #d9d9d9;
}

.LaporanFooter {
    padding: 10px;
    font-weight: bold;
    border: 2px solid #d9d9d9;
}

.LaporanFooter p:nth-child(1) {
    grid-column: 4;
}

.LaporanFooter p:nth-child(2) {
    grid-column: 5;
}